.content-password {
  display: flex;
  flex-direction: column;
  padding: 0;

  > strong {
    text-align: left;
    margin-bottom: 4px;
    width: 90px;
    color: #555555;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.1px;
  }

  .input {
    display: flex;
  
    padding: 3.73px;
    input {
      border: 0.8px solid #c4c4c4;
      font-size: 40px;
      border-radius: 3px;
      width: 41.96px !important;
      height: 51px;
      color: #555555;
      

    }

  }
}
